*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(#081226);
    color: #e6eef8;
    font-family: Inter,ui-sans-serif,system-ui,Segoe UI,Roboto,Arial;
}

header{
    background-color: #1e293b;
    height: 80px;
    padding: 20px 120px;
}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav-h1{
    color: #38bdf8;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 750px;
}

nav li{
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #38bdf8;
    text-decoration: underline;
}

/* main part  */

main{
    padding: 80px 80px;
    display: flex;
    line-height: 50px;
}
main #con-h11{
    font-size: 45px;
    color: #38bdf8;
}
form{
    width: 600px;
    line-height: 60px;
}
input{
    height: 30px;
    width: 600px;
    border: none;
    border-radius: 10px;
    padding: 20px;
}



main button{
    background: #38bdf8;
    height: 50px;
    width: 600px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px;
    margin-top: 10px;
    transition: all 0.3s;
}

main button:hover{
    transform: translateY(-7px);
}

/* footer part  */

footer{
    background-color: #1e293b;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}